<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gonzalo Restaurante</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>

<body>
    <header id="home">
        <div class="desktop-header">
            <div class="logo">
                <img src="../Images/imgs/logo/logo_Dark_bg.jpg" alt="Restaurant logo" width="100" height="100">
            </div>
            <nav>
                <ul>
                    <li><a href="../index.html" class="nav-item">hogar</a></li>
                    <li><a href="menu.html" class="nav-item">Menú</a></li>
                    <li><a href="ordeneAhora.html" class="nav-item">¡Pide en Línea!</a></li>
                    <li><a href="reserva.html" class="nav-item">Reservación</a></li>
                    <li><a href="contacto.html" class="nav-item">Contacto</a></li>
                </ul>
            </nav>
            <div class="buttons">
                <a href="reserva.html" class="reservation-button">Reservación</a>
                <a href="ordeneAhora.html" class="ordering-button">¡Pide Ahora!</a>
            </div>
        </div>
        
        <div class="mobile-header">
            <div class="mobile-logo">
                <img src="../Images/imgs/logo/logo_Dark_bg.jpg" alt="Restaurant logo" width="100" height="100">
            </div>
            <div class="menu-toggle" id="menu-toggle">
                <span class="menu-icon">&#9776;</span>
            </div>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="../index.html" class="nav-item">hogar</a></li>
                    <li><a href="menu.html" class="nav-item">Menú</a></li>
                    <li><a href="ordeneAhora.html" class="nav-item">¡Pide en Línea!</a></li>
                    <li><a href="reserva.html" class="nav-item">Reservación</a></li>
                    <li><a href="contacto.html" class="nav-item">Contacto</a></li>
                </ul>
            
        </div>
    </header>

    <!-- La sección de pedidos en línea -->
    <section class="ordering-section" id="ordering">
        <div class="ordering-container">
            <h2>¡Pide Ahora!</h2>
            <p>Elige tu pedido aquí</p>
            <form id="ordering-form"></form>
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" class="name" name="name" required> 
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico:</label>
                    <input type="email" class="email" name="email" required> 
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono:</label>
                    <input type="tel" class="phone" name="phone" required> 
                </div>
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" class="name" name="name" required> 
                </div>
                <div class="form-group">
                    <label for="address">DIRECCIÓN:</label>
                    <input type="text" class="address" name="address" required> 
                </div>
                <div class="form-group">
                    <label for="items">Pedir artículos:</label>
                    <textarea id="items" name="items" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="delivery">Instrucciones de entrega:</label>
                    <textarea name="delivery" id="delivery" rows="4"></textarea>
                </div>
                <button type="submit">pedido</button>
        </div>

    </section>

    <!-- La sección de pie de página -->
    <footer>
        <div class="footer-logo">
            <img src="../Images/imgs/logo/logo.jpg" alt="footer logo" width="100" height="100">
        </div>
        <!-- Enlaces de redes sociales -->
        <div>
            <h3>Síganos</h3>
            <a class="social-media" href="#" target="_blank">Facebook</a>
            <a class="social-media" href="#" target="_blank">Twitter</a>
            <a class="social-media" href="#" target="_blank">Instagram</a>
          </div>
        <p>&copy; Restaurante Gonzalo. Todos los derechos reservados</p>

    </footer>
</body>
</html>